@import url("./heade.css");
@import url("./footer.css");
/* @import url("./responsive.css");
@import url("./variables.css"); */
@import url("./home.css");
@import url("./section.css");
@import url("./mutaxassis.css");

/* Main CSS File */
